* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.fade-out {
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html {
    background: black;
}

body {
    margin: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 2s;
}

body.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

.game {
    display: none;
}

#game {
    position: relative;
    margin: 0 auto;
}

.cnv {
    position: absolute;
    border-style: solid;
}

#canvasHex {
    background-color: black;
    z-index: 1;
}

#canvasSnake {
    background-color: transparent;
    z-index: 2;
}

.room {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), rgb(0, 0, 0)),
    url("../images/back.jpg");
}

.room.fade-out {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.room__logo {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 128px;
    color: rgb(129, 188, 61);
}

.userInfo {
    outline: none;
    border-radius: 25px;
    padding: 5px;
    height: 50px;
    line-height: 50px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    padding-inline: 20px;
    text-align: center;
    color: white;
    /*text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(249, 50, 81), 0 0 0.5em rgb(249, 50, 81), 0 0 0.1em rgb(249, 50, 81);*/
}

.menu__button {
    border-radius: 25px;
    width: 300px;
    height: 60px;
    margin-top: 30px;
    font-size: 32px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    cursor: pointer;
    background-color: inherit;
    transition: all 0.25s ease;
}

.menu__button[name="create"] {
    border-color: rgb(249, 50, 81);
    color: rgb(249, 50, 81);
}

.menu__button[name="create"]:hover {
    box-shadow: 0 0 0.5em 0 rgb(249, 50, 81);
    color: rgb(255, 255, 255);
    background: rgb(249, 50, 81);
}

.menu__button[name="join"] {
    border-color: rgb(147, 212, 72);
    color: rgb(147, 212, 72);
}

.menu__button[name="join"]:hover {
    box-shadow: 0 0 0.5em 0 rgb(147, 212, 72);
    color: rgb(255, 255, 255);
    background: rgb(147, 212, 72);
}

.menu__button[name="start"] {
    border-color: rgb(249, 50, 81);
    color: rgb(249, 50, 81);
}

.menu__button[name="start"]:disabled {
    border-color: rgb(249, 50, 81);
    color: rgba(249, 50, 81, 0.3);
}

.menu__button[name="start"]:hover:not(:disabled) {
    box-shadow: 0 0 0.5em 0 rgb(249, 50, 81);
    color: rgb(255, 255, 255);
    background: rgb(249, 50, 81);
}

.menu {
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), rgb(0, 0, 0)),
    url("../images/back.jpg");
}

.menu.fade-in {
    display: flex;
}

.menu.fade-out {
    display: none;
}


.menu__logo {
    margin-top: 100px;
    padding: 60px 20px;
    font-family: "Balsamiq Sans", sans-serif;
}
.menu__neon {
    font-size: 128px;
    font-weight: normal;
    line-height: 50px;
    color: rgb(255, 255, 255);
    letter-spacing: 8px;
}

.menu__neon span[name="span1"] {
    -webkit-text-stroke: 7px rgb(101, 179, 72) ;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(102, 239, 48), 0 0 0.5em rgb(102, 239, 48), 0 0 0.1em rgb(102, 239, 48);
}

.menu__neon span[name="span2"] {
    animation: neon linear infinite 4s;
    -webkit-text-stroke: 7px rgb(101, 179, 72);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(102, 239, 48), 0 0 0.5em rgb(102, 239, 48), 0 0 0.1em rgb(102, 239, 48);
}

.menu__neon span[name="span3"] {
    -webkit-text-stroke: 7px rgb(187, 75, 92) ;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(249, 50, 81), 0 0 0.5em rgb(249, 50, 81), 0 0 0.1em rgb(249, 50, 81);

}

@keyframes neon {
    78% {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(102, 239, 48), 0 0 0.5em rgb(102, 239, 48), 0 0 0.1em rgb(102, 239, 48);
        -webkit-text-stroke: 7px rgb(101, 179, 72);
    }

    79% {
        -webkit-text-stroke: 7px rgb(187, 75, 92);
    }

    80% {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(102, 239, 48), 0 0 0.5em rgb(102, 239, 48), 0 0 0.1em rgb(102, 239, 48);
        -webkit-text-stroke: 7px rgb(101, 179, 72);
    }

    81% {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(102, 239, 48), 0 0 0.5em rgb(102, 239, 48), 0 0 0.1em rgb(102, 239, 48);
        -webkit-text-stroke: 7px rgb(101, 179, 72);
    }

    82% {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(249, 50, 81), 0 0 0.5em rgb(249, 50, 81), 0 0 0.1em rgb(249, 50, 81);
        -webkit-text-stroke: 7px rgb(187, 75, 92);
    }

    83% {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(102, 239, 48), 0 0 0.5em rgb(102, 239, 48), 0 0 0.1em rgb(102, 239, 48);
        -webkit-text-stroke: 7px rgb(101, 179, 72);
    }

    92% {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(249, 50, 81), 0 0 0.5em rgb(249, 50, 81), 0 0 0.1em rgb(249, 50, 81);
        -webkit-text-stroke: 7px rgb(187, 75, 92);
    }

    92.5% {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(102, 239, 48), 0 0 0.5em rgb(102, 239, 48), 0 0 0.1em rgb(102, 239, 48);
        -webkit-text-stroke: 7px rgb(101, 179, 72);
    }
}

.lobby {
    max-width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.lobbyId {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.lobby__id {
    box-shadow: 0 0 0 100px rgb(0, 0, 0) inset;
    outline: none;
    border-radius: 25px;
    padding: 4px 45px;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    font-size: 32px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    text-align: center;
}

.lobby__id[id="lobbyId"] {
    border: 1px solid rgb(101, 179, 72);
    -webkit-text-fill-color: rgb(101, 179, 72);
}

.lobby__id::placeholder {
    opacity: 40%;
    color: rgb(236, 233, 233);
    padding: 0;
    text-align: center;
}

.lobby__header {
    margin-top: 10px;
    font-size: 32px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
}

.users {
    border: 2px solid rgb(187, 75, 92);
    border-radius: 25px;
    width: 50vw;
    background-color: rgb(0, 0, 0);
    font-size: 32px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
}

.room__id {
    box-shadow: 0 0 0 100px rgb(0, 0, 0) inset;
    outline: none;
    border-radius: 25px;
    padding: 4px 45px;
    width: 300px;
    height: 50px;
    margin-top: 30px;
    font-size: 32px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    text-align: center;
    caret-color: rgb(101, 179, 72);
}

.no-select {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.room__id[id="roomId"] {
    border: 1px solid rgb(101, 179, 72);
    -webkit-text-fill-color: rgb(101, 179, 72);
}

.room__id::placeholder {
    opacity: 40%;
    color: rgb(236, 233, 233);
    padding: 0;
    text-align: center;
}

.room__label {
    color: azure;
    padding-top: 5px;
    font-family: "Ubuntu", sans-serif;
}

.room__label[id="errorLabel"] {
    color: rgb(255, 0, 0);
    padding-top: 5px;
    font-family: "Ubuntu", sans-serif;
}

.fireworks-canvas {
    position: absolute;
    transition: .7s ease-out;
    z-index: 3;
}

.victory-text {
    position: absolute;
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 256px;
    font-weight: normal;
    line-height: 50px;
    color: rgb(255, 255, 255);
    letter-spacing: 8px;
    z-index: 4;
    user-select: none;
    display: none;
    text-align: center;
    width: 100%;
    top: 30%;
}

.victory-text span[name="span1"] {
    -webkit-text-stroke: 7px rgb(101, 179, 72);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(102, 239, 48), 0 0 0.5em rgb(102, 239, 48), 0 0 0.1em rgb(102, 239, 48);
}

.victory-text span[name="span2"] {
    animation: neon linear infinite 4s;
    -webkit-text-stroke: 7px rgb(101, 179, 72);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(102, 239, 48), 0 0 0.5em rgb(102, 239, 48), 0 0 0.1em rgb(102, 239, 48);
}