* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    background: black;
}

body {
    opacity: 0;
    transition: opacity 2s;
}

body.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

.menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), rgb(0, 0, 0)),
    url("../images/background.png");
}

.menu__logo {
    margin-top: 60px;
    padding: 60px 20px;
    font-family: "Balsamiq Sans", sans-serif;
}

.menu__neon {
    font-size: 128px;
    font-weight: normal;
    line-height: 50px;
    color: rgb(255, 255, 255);
    letter-spacing: 8px;
}

.menu__neon span[name="span1"] {
    -webkit-text-stroke: rgb(101, 179, 72) 7px;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(102, 239, 48), 0 0 0.5em rgb(102, 239, 48), 0 0 0.1em rgb(102, 239, 48);
}

.menu__neon span[name="span2"] {
    animation: neon linear infinite 4s;
    -webkit-text-stroke: rgb(101, 179, 72) 7px;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(102, 239, 48), 0 0 0.5em rgb(102, 239, 48), 0 0 0.1em rgb(102, 239, 48);
}

.menu__neon span[name="span3"] {
    -webkit-text-stroke: rgb(187, 75, 92) 7px;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(249, 50, 81), 0 0 0.5em rgb(249, 50, 81), 0 0 0.1em rgb(249, 50, 81);

}

@keyframes neon {
    78% {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(102, 239, 48), 0 0 0.5em rgb(102, 239, 48), 0 0 0.1em rgb(102, 239, 48);
        -webkit-text-stroke: rgb(101, 179, 72) 7px;
    }
    79%{
        -webkit-text-stroke: rgb(187, 75, 92) 7px;
    }
    80% {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(102, 239, 48), 0 0 0.5em rgb(102, 239, 48), 0 0 0.1em rgb(102, 239, 48);
        -webkit-text-stroke: rgb(101, 179, 72) 7px;
    }
    81% {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(102, 239, 48), 0 0 0.5em rgb(102, 239, 48), 0 0 0.1em rgb(102, 239, 48);
        -webkit-text-stroke: rgb(101, 179, 72) 7px;
    }
    82% {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(249, 50, 81), 0 0 0.5em rgb(249, 50, 81), 0 0 0.1em rgb(249, 50, 81);
        -webkit-text-stroke: rgb(187, 75, 92) 7px;
    }
    83% {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(102, 239, 48), 0 0 0.5em rgb(102, 239, 48), 0 0 0.1em rgb(102, 239, 48);
        -webkit-text-stroke: rgb(101, 179, 72) 7px;
    }
    92% {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(249, 50, 81), 0 0 0.5em rgb(249, 50, 81), 0 0 0.1em rgb(249, 50, 81);
        -webkit-text-stroke: rgb(187, 75, 92) 7px;
    }
    92.5% {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(102, 239, 48), 0 0 0.5em rgb(102, 239, 48), 0 0 0.1em rgb(102, 239, 48);
        -webkit-text-stroke: rgb(101, 179, 72) 7px;
    }
}

.menu__button {
    border-radius: 25px;
    width: 300px;
    height: 60px;
    margin-top: 30px;
    font-size: 32px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    cursor: pointer;
    background-color: inherit;
    transition: all 0.25s ease;
}

.menu__button[name="single"] {
    border-color: rgb(249, 50, 81);
    color: rgb(249, 50, 81);
}

.menu__button[name="single"]:hover {
    box-shadow: 0 0 0.5em 0 rgb(249, 50, 81);
    color: rgb(255, 255, 255);
    background: rgb(249, 50, 81);
}

.menu__button[name="multi"] {
    border-color: rgb(147, 212, 72);
    color: rgb(147, 212, 72);
}

.menu__button[name="multi"]:hover {
    box-shadow: 0 0 0.5em 0em rgb(147, 212, 72);
    color: rgb(255, 255, 255);
    background: rgb(147, 212, 72);
}

.menu__change-skin-img
{
    -webkit-user-select: none;
    user-select: none;
    align-self: flex-start;
    margin-top: 18.5%;
    margin-left: 1.5%;
    cursor: pointer;
    filter: brightness(0.8)
}