* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    background: black;
}

body {
    opacity: 0;
    transition: opacity 2s;
}

body.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

.menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), rgb(0, 0, 0)),
        url("../images/back.jpg");
}

.menu__logo {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 800;
    font-size: 150px;
    color: rgb(129, 188, 61);
}

.menu__button {
    border: none;
    border-radius: 25px;
    width: 300px;
    height: 60px;
    margin-top: 30px;
    font-size: 32px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.menu__button[name="single"] {
    background-color: rgb(255, 161, 110);
}

.menu__button[name="multi"] {
    background-color: rgb(147, 212, 72);
}

.menu__bots {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.menu__caption {
    color: rgb(136, 127, 228);
    font-size: 32px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
    padding-right: 90px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch__check {
    display: none;
}

.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(204, 204, 204);
    -webkit-transition: .4s;
    transition: .4s;
}

.switch__slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
}

.switch__check:checked+.switch__slider {
    background-color: rgb(255, 161, 110);
}

.switch__check:focus+.switch__slider {
    box-shadow: 0 0 1px rgb(255, 161, 110);
}

.switch__check:checked+.switch__slider:before {
    transform: translateX(26px);
}

.switch__slider.round {
    border-radius: 34px;
}

.switch__slider.round:before {
    border-radius: 50%;
}