<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <title>Ssplif</title>
    <link href="{{ asset('css/entrance.css') }}" rel="stylesheet">
</head>

<body>
    <form class="entrance" action="/login" enctype="multipart/form-data" method="POST">
        <div class="entrance__logo">
            <div class="entrance__neon">
                <span name="span1">Ssp</span><span name="span2">li</span><span name="span3">ff</span>
            </div>
        </div>
        <input type="text" class="entrance__input" placeholder="Nickname" id="nickname" name="name">
        <input type="text" class="entrance__input" placeholder="Password" id="password" name="password">
        <button class="entrance__button" id="enter" type="submit">Enter</button>
    </form>
</body>
<script src="{{ asset('js/entrance.js')}}"></script>
</html>