<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <title>Document</title>
    <link href="{{ asset('css/menu.css') }}" rel="stylesheet">
</head>

<body>
    <div class="menu">
        <h1 class="menu__logo">Sspliff</h1>
        <button class="menu__button" id="single" name="single">Single</button>
        <button class="menu__button" id="multi" name="multi">Multi</button>
        <div class="menu__bots">
            <h2 class="menu__caption">Bots: </h2>
            <label class="menu__switch  switch">
                <input type="checkbox" class="switch__check">
                <span class="switch__slider round"></span>
            </label>
        </div>
    </div>
</body>
<script src="{{ asset('js/menu.js') }}"></script>
</html>