<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Chat</title>
</head>
<body>
    <h1>WebSocket Chat</h1>
    <input type="text" id="message" placeholder="Type your message here...">
    <button onclick="sendMessage()">Send</button>
    <ul id="messages"></ul>
    <textarea id="response" style="width: 1000px;
                                   height: 500px">
    </textarea>

<script>
    let conn = new WebSocket('ws://10.10.29.61:8080');
    // let conn = new WebSocket('ws://10.250.104.40:8080');

    conn.onopen = function (e) {
        alert("Connection established!");
        update();
    }

    conn.onmessage = function (e) {
        let response = document.getElementById('response');
        response.textContent = '';
        response.textContent = e.data;
    }

    function sendMessage() {
        let input = document.getElementById('message');
        conn.send(input.value);
        input.value = '';
    }

    let snake = {
        id: 0,
        x: 0,
        y: 0,
        radius: 10,
        score: 0,
        color: 'red',
        body: [
            {
                x: 0,
                y: 0,
            },
            {
                x: 0,
                y: 0
            },
            {
                x: 0,
                y: 0,
            },
            {
                x: 0,
                y: 0,
            },
            {
                x: 0,
                y: 0,
            },
        ]
    }

    let direction = {
        x_speed: 1,
        y_speed: 1,
    }

    function update()
    {
        window.addEventListener('keydown', function (event) {
            let key = event.code;
            if (key === 'KeyW')
            {
                direction.y_speed = Math.abs(direction.y_speed);
            }
            if (key === 'KeyS')
            {
                direction.y_speed = - Math.abs(direction.y_speed);
            }
            if (key === 'KeyA')
            {
                direction.x_speed = - Math.abs(direction.x_speed);
            }
            if (key === 'KeyD')
            {
                direction.x_speed = Math.abs(direction.x_speed);
            }
        });

        snake.x += direction.x_speed;
        snake.y += direction.y_speed;

        let data = {
            snake: snake
        }

        let jsonData = JSON.stringify(data);
        conn.send(jsonData);
        requestAnimationFrame(update);
    }

</script>
</body>
</html>